@import "~bootstrap/scss/bootstrap";

// --------------------------------------
@import "./scaffold";
.wrapper {
  max-width: 800px;
  margin: 0px auto;
}

#container {
  padding: 20px 50px;

  background: #32cd32;
  font-size: 22px;
  color: #fff;
}
.icon {
  color: #fff;
}
#ulElement {
  padding: 20px 50px;
  background-color: #b7c400;
}
.liElement {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  div {
    font-size: 20px;
    color: #fff;
  }
  img {
    vertical-align: top;
    width: 50px;
    height: 50px;
  }
}
.container__column {
  text-align: center;
  margin-bottom: 30px;
}
.container__row {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
